<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998139226130-jou64kitl2eu5aqrv6nmsuietpa8hm8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998139226130-jou64kitl2eu5aqrv6nmsuietpa8hm8a</string>
	<key>API_KEY</key>
	<string>AIzaSyCP-u1J-ABqt4GahVDJ1iqgsG6yTwtTg9E</string>
	<key>GCM_SENDER_ID</key>
	<string>998139226130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medinova.medinovaAi</string>
	<key>PROJECT_ID</key>
	<string>medical-bf74c</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-bf74c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998139226130:ios:67b46ba017d9d509d090cb</string>
</dict>
</plist>